@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-face:before {
  content: "\e900";
  color: #fff;
}

._icon-in:before {
  content: "\e901";
  color: #fff;
}

._icon-insta:before {
  content: "\e902";
  color: #fff;
}

._icon-twit:before {
  content: "\e903";
  color: #fff;
}

._icon-you:before {
  content: "\e904";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #8b8b8b;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
  background: #e5e5e55e;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 52;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 41px 0px;
  z-index: 500;
}
@media (max-width: 47.99875em) {
  .header {
    padding: 15px 0px;
    position: absolute;
    background: #e4e7ff;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.content-header__logo {
  position: relative;
  z-index: 10;
  display: flex;
  column-gap: 18px;
  align-items: center;
}
@media (max-width: 60em) {
  .content-header__logo {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .content-header__logo {
    flex-direction: row;
  }
}
.content-header__image {
  flex: 0 1 79px;
  min-width: 79px;
}
.content-header__image img {
  max-width: 100%;
  max-height: 63px;
}
.content-header__txt {
  display: grid;
}
.content-header__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.1em;
  order: 2;
  color: #091156;
}
.content-header__link-bg {
  order: 1;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition-duration: 0.2s;
    overflow: auto;
    background: #a7b2f5;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 93px;
    background: #e4e7ffd5;
    z-index: 553;
  }
  .menu-open .menu__body::before {
    right: 0;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
.menu__list {
  display: flex;
  column-gap: 45px;
  row-gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 52;
}
@media (max-width: 992px) {
  .menu__list {
    justify-content: flex-end;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    padding-top: 120px;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1em;
  transition: 0.2s;
}
@media (max-width: 47.99875em) {
  .menu__link {
    color: #fff;
  }
}
.menu__link:hover {
  color: #414880;
}
.menu__link::after {
  content: "+";
  display: inline-block;
  opacity: 0;
}
.menu__link:hover::after {
  opacity: 1;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 30px;
  }
}
.menu__link-bg:hover {
  color: #8b8b8b;
  background: #ff64afbd;
}
@media (max-width: 47.99875em) {
  .menu__link-bg {
    font-size: 22px;
  }
}

.link-main {
  display: inline-block;
  padding: 14px 41px;
  background: #ff64ae;
  border-radius: 50px;
  color: #fff;
  transition-duration: 0.2s;
}
.link-main:hover {
  color: #8b8b8b;
  background: #ff64afbd;
}

._header-scroll {
  position: fixed;
  top: -100%;
  transition-duration: 0.2s;
}

._header-show {
  top: 0;
}

.footer {
  position: relative;
  padding: 100px 0px 91px;
  color: #d7dbff;
}
@media (min-width: 43em) and (max-width: 71.25em) {
  .footer {
    padding-top: clamp( 1.125rem , -6.6758849558rem  +  18.1415929204vw , 6.25rem );
  }
}
@media (max-width: 43em) {
  .footer {
    padding-top: 1.125rem;
  }
}
@media (min-width: 43.75em) and (max-width: 71.25em) {
  .footer {
    padding-bottom: clamp( 1.6875rem , -4.6761363636rem  +  14.5454545455vw , 5.6875rem );
  }
}
@media (max-width: 43.75em) {
  .footer {
    padding-bottom: 1.6875rem;
  }
}
@media (max-width: 62em) {
  .footer {
    background: #172176;
  }
}
@media (min-width: 62em) {
  .footer {
    background: url("../img/bottombg.jpg") 21% 100%/106% 50% no-repeat;
  }
  .footer::before {
    content: "";
    background: #172176;
    position: absolute;
    top: -5%;
    left: -0.5%;
    width: 101%;
    height: 100%;
    transform: rotate(3deg);
    box-shadow: #dfe2ff;
    border-radius: 120px;
    z-index: 1;
  }
  .footer::after {
    content: "";
    background: #dfe2ff;
    position: absolute;
    top: -7%;
    right: 0;
    width: 90%;
    height: 50%;
    transform: rotate(2deg);
    border-radius: 120px;
  }
}
.footer__container {
  position: relative;
}
.footer__totop {
  display: inline-block;
}
.footer__totop img {
  position: absolute;
  top: 50%;
  right: -10%;
  width: 36px;
  height: 36px;
  z-index: 50;
}
.footer__first-row {
  position: relative;
  z-index: 25;
  display: flex;
  padding: 0px 30px;
}
.footer__first-row:not(:last-child) {
  margin-bottom: 140px;
}
@media (min-width: 40.625em) and (max-width: 62em) {
  .footer__first-row:not(:last-child) {
    margin-bottom: clamp( 3.125rem , -7.5657894737rem  +  26.3157894737vw , 8.75rem );
  }
}
@media (max-width: 40.625em) {
  .footer__first-row:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 48em) {
  .footer__first-row {
    flex-wrap: wrap;
    row-gap: 40px;
    align-items: center;
  }
}
@media (max-width: 38.75em) {
  .footer__first-row {
    align-items: stretch;
  }
}
.footer__second-row {
  position: relative;
  z-index: 25;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-footer__items {
  flex: 0 1 25%;
  order: 3;
}
@media (max-width: 48em) {
  .row-footer__items {
    flex: 0 1 50%;
  }
}
.row-footer__items_width {
  flex: 0 1 50%;
}
@media (max-width: 48em) {
  .row-footer__items_width {
    order: 1;
    flex: 0 1 50%;
  }
}
@media (max-width: 38.75em) {
  .row-footer__items_width {
    flex: 0 1 100%;
  }
}
.row-footer ._dynamic_adapt_ {
  order: 2;
}
@media (max-width: 48em) {
  .row-footer ._dynamic_adapt_ {
    flex: 0 1 50%;
  }
}
@media (max-width: 38.75em) {
  .row-footer ._dynamic_adapt_ {
    flex: 0 1 60%;
  }
}
.row-footer__items_order {
  order: 4;
}
@media (max-width: 48em) {
  .row-footer__items_order {
    flex: 0 1 50%;
  }
}
.row-footer__logo {
  display: flex;
  align-items: center;
  gap: 18px;
}
.row-footer__logo:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 38.75em) {
  .row-footer__logo:not(:last-child) {
    margin-bottom: 0px;
  }
}
.row-footer__image {
  flex: 0 1 79px;
  min-width: 79px;
}
.row-footer__image img {
  max-width: 100%;
  max-height: 63px;
}
.row-footer__item {
  padding: 0px 129px 0px 30px;
}
@media (max-width: 48em) {
  .row-footer__item {
    padding: 0px 0px 0px 0px;
  }
}
.row-footer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.row-footer__text {
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.1em;
}
.row-footer__text:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 38.75em) {
  .row-footer__text {
    display: none;
  }
}
.row-footer__adress {
  font-style: italic;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.1em;
}
.row-footer__adress:not(:last-child) {
  margin-bottom: 5px;
}
.row-footer__call-us {
  font-style: italic;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.call-us-footer {
  padding: 0px 40px 0px 0px;
}
.footer-nav__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: start;
}
.footer-nav__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 145%;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.footer-nav__menu:not(:last-child) {
  margin-bottom: 15px;
}
.footer-nav__text:not(:last-child) {
  margin-bottom: 11px;
}
.footer-nav__link {
  line-height: 150%;
  display: inline-block;
  letter-spacing: 0.1em;
  position: relative;
}
.footer-nav__link::before {
  content: "";
  display: inline-block;
  background: url("../img/footer1.png") 0 0 no-repeat;
  z-index: 10;
  width: 13px;
  height: 13px;
  margin-right: 8px;
  transition: all 0.3s ease 0s;
}
.footer-nav__link:hover::before {
  transform: translate(0px, 0px) rotate(360deg) scale(1.2) skew(0, 0);
}
.footer-nav__link:hover {
  letter-spacing: 0.2em;
  color: #d7dbff8c;
}

.row-footer-nav__items {
  display: flex;
  justify-content: space-between;
  column-gap: 45px;
}
@media (max-width: 48em) {
  .row-footer-nav__items {
    column-gap: 0px;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 48em) {
  .row-footer-nav__items {
    column-gap: clamp( 1.5rem , 0.5625rem  +  4.6875vw , 2.8125rem );
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .row-footer-nav__items {
    column-gap: 1.5rem;
  }
}
.row-footer-nav__item {
  transition: all 0.3s ease 0s;
  flex: 0 1 25px;
  min-width: 1.5625rem;
}
.row-footer-nav__item:hover {
  transform: translate(0px, 0px) rotate(0deg) scale(1.4) skew(0, 0);
}
.row-footer-nav__item img {
  max-width: 100%;
  max-height: 1.75rem;
}
@media (max-width: 48em) {
  .row-footer-nav__copy {
    text-align: center;
    width: 100%;
  }
}
.our-clinik {
  padding: 188px 0px 118px 0px;
}
@media (max-width: 61.99875em) {
  .our-clinik {
    padding-top: 210px;
  }
}
@media (max-width: 47.99875em) {
  .our-clinik {
    padding-top: 150px;
  }
}
.our-clinik__container {
  position: relative;
}
.our-clinik__content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  order: 2;
}
.our-clinik__item {
  flex: 0 1 50%;
  min-width: 0;
}
@media (max-width: 61.99875em) {
  .our-clinik__item {
    flex: 1 1 100%;
  }
}
.our-clinik__image {
  text-align: center;
}
@media (max-width: 61.99875em) {
  .our-clinik__image {
    order: 1;
  }
}
@media (min-width: 1130px) {
  .our-clinik__image {
    min-width: 600px;
  }
}
.our-clinik__image img {
  max-width: 100%;
  max-height: 100%;
}

.text-block__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 125%;
  color: #091156;
}
.text-block__title_bg {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 5px;
}
.text-block__descr {
  line-height: 150%;
  letter-spacing: 0.1em;
}
.text-block__descr_color {
  color: #091156;
  margin-bottom: 28px;
}
.text-block__link {
  padding: 16px 41px;
}

.slider-main__swiper {
  margin-bottom: 136px;
}
.slider-main__slide {
  display: flex;
}
@media (max-width: 61.99875em) {
  .slider-main__slide {
    flex-wrap: wrap;
    align-items: center;
    row-gap: 50px;
  }
}
.slider-main__bulets {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin: 0 auto;
}
.slider-main__slider .swiper-pagination-bullet {
  width: 14.8px;
  height: 3px;
  display: inline-block;
  background: #eeeeee;
  border-radius: 50px;
}
.slider-main__slider .swiper-pagination-bullet-active {
  background: #414880;
  width: 25.3px;
  height: 8.15px;
}

.our-clinik__bg-image img {
  position: absolute;
  top: -49%;
  left: -12%;
  width: 109%;
  height: 141%;
}

.mainpage__focus-on {
  margin-bottom: 100px;
  position: relative;
  z-index: 82;
}

.focus-on__item {
  text-align: center;
}
@media (min-width: 62em) {
  .focus-on__item {
    margin-bottom: 82px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .focus-on__item {
    margin-bottom: clamp( 1.125rem , -12.5892857143rem  +  28.5714285714vw , 5.125rem );
  }
}
@media (max-width: 48em) {
  .focus-on__item {
    margin-bottom: 1.125rem;
  }
}
.focus-on__item > *:not(:last-child) {
  margin-bottom: 12px;
}

.text-block__subtitle {
  line-height: 125%;
  /* identical to box height, or 20px */
  color: #ff64ae;
}
.focus-on__row {
  display: flex;
  margin: 0px -23px;
  flex-wrap: wrap;
}
@media (min-width: 48em) and (max-width: 62em) {
  .focus-on__row {
    row-gap: clamp( 0.75rem , -7.3928571429rem  +  16.9642857143vw , 3.125rem );
  }
}
@media (max-width: 48em) {
  .focus-on__row {
    row-gap: 0.75rem;
  }
}

.row-focus-on__item {
  flex: 0 1 33.33%;
  padding: 0px 23px;
}
@media (max-width: 61.99875em) {
  .row-focus-on__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .row-focus-on__item {
    flex: 0 1 100%;
  }
}
.row-focus-on__content {
  padding: 59px 34px 52px;
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition-duration: 0.2s;
  background: #ffffff86;
  border-radius: 42px;
}
@media (min-width: 48em) and (max-width: 62em) {
  .row-focus-on__content {
    padding-top: clamp( 0.9375rem , -8.4910714286rem  +  19.6428571429vw , 3.6875rem );
  }
}
@media (max-width: 48em) {
  .row-focus-on__content {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .row-focus-on__content {
    padding-bottom: clamp( 0.9375rem , -6.9910714286rem  +  16.5178571429vw , 3.25rem );
  }
}
@media (max-width: 48em) {
  .row-focus-on__content {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .row-focus-on__content {
    padding-left: clamp( 0.625rem , -4.5178571429rem  +  10.7142857143vw , 2.125rem );
  }
}
@media (max-width: 48em) {
  .row-focus-on__content {
    padding-left: 0.625rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .row-focus-on__content {
    padding-right: clamp( 0.625rem , -4.5178571429rem  +  10.7142857143vw , 2.125rem );
  }
}
@media (max-width: 48em) {
  .row-focus-on__content {
    padding-right: 0.625rem;
  }
}
.row-focus-on__content:hover {
  background: #ffffffca;
  box-shadow: 0px 25px 50px 25px #f7f7ff;
}

.block-content {
  height: 100%;
  position: relative;
  z-index: 2;
}
.block-content__image {
  flex: 0 1 166px;
}
.block-content__image img {
  max-height: 100%;
  max-width: 166px;
}
.row-focus-on .block-content__image {
  margin-bottom: 58px;
}
.block-content__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 125%;
  color: #091156;
}
.row-focus-on .block-content__title {
  margin-bottom: 6px;
}
.block-content__txt {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.1em;
}

.we-are-best {
  padding-bottom: 170px;
}
@media (max-width: 61.99875em) {
  .we-are-best {
    padding-bottom: 70px;
  }
}
.we-are-best__container {
  position: relative;
}
@media (max-width: 61.99875em) {
  .we-are-best__bg-image {
    display: none;
  }
}
.we-are-best__bg-image img {
  position: absolute;
  top: -60%;
  right: -10%;
  width: 100%;
  height: 204%;
  object-fit: cover;
}
.we-are-best__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.we-are-best__item {
  flex: 0 1 50%;
}
@media (max-width: 61.99875em) {
  .we-are-best__item {
    flex: 0 1 100%;
  }
}
.we-are-best__nav {
  display: flex;
  align-items: center;
  column-gap: 44px;
}
@media (max-width: 61.99875em) {
  .we-are-best__nav {
    justify-content: center;
  }
}
@media (max-width: 61.99875em) {
  .we-are-best__img {
    display: flex;
  }
}
@media (max-width: 48em) {
  .we-are-best__img {
    display: none;
  }
}
.we-are-best__img img {
  max-width: 100%;
  flex: 1 1 100%;
}

.we-are-best .text-block {
  text-align: left;
}
@media (max-width: 61.99875em) {
  .we-are-best .text-block {
    text-align: center;
  }
}
.we-are-best .text-block__subtitle {
  margin-bottom: 0.75rem;
}
.we-are-best .text-block__title {
  margin-bottom: 0.75rem;
}
.we-are-best .text-block__descr {
  margin-bottom: 3.0625rem;
}

.nav-we-are-best__play {
  display: flex;
  align-items: center;
  column-gap: 13px;
}
.expert {
  padding: 10px 0px 72px;
}
@media (max-width: 61.99875em) {
  .expert {
    padding: 0px 0px 50px;
  }
}
.expert__item {
  text-align: center;
}
@media (min-width: 62em) {
  .expert__item {
    margin-bottom: 87px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .expert__item {
    margin-bottom: clamp( 1.125rem , -13.6607142857rem  +  30.8035714286vw , 5.4375rem );
  }
}
@media (max-width: 48em) {
  .expert__item {
    margin-bottom: 1.125rem;
  }
}
.expert__item *:not(:last-child) {
  margin-bottom: 22px;
}
.expert__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -14px;
  row-gap: 28px;
}

.expert-row__item {
  flex: 0 1 33.33%;
  padding: 0px 14px;
}
@media (max-width: 61.99875em) {
  .expert-row__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .expert-row__item {
    flex: 0 1 100%;
  }
}
.expert-row__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffffff86;
  border-radius: 42px;
}
.expert-row__content:hover {
  background: #ffffffca;
  box-shadow: 0px 25px 50px 25px #f7f7ff;
}

.expert .block-content {
  padding: 71px 48px 71px;
}
@media (min-width: 48em) and (max-width: 62em) {
  .expert .block-content {
    padding-top: clamp( 0.9375rem , -11.0625rem  +  25vw , 4.4375rem );
  }
}
@media (max-width: 48em) {
  .expert .block-content {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .expert .block-content {
    padding-bottom: clamp( 0.9375rem , -11.0625rem  +  25vw , 4.4375rem );
  }
}
@media (max-width: 48em) {
  .expert .block-content {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .expert .block-content {
    padding-left: clamp( 0.625rem , -7.5178571429rem  +  16.9642857143vw , 3rem );
  }
}
@media (max-width: 48em) {
  .expert .block-content {
    padding-left: 0.625rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .expert .block-content {
    padding-right: clamp( 0.625rem , -7.5178571429rem  +  16.9642857143vw , 3rem );
  }
}
@media (max-width: 48em) {
  .expert .block-content {
    padding-right: 0.625rem;
  }
}
.expert .block-content__image {
  flex: 0 1 146px;
  min-height: 146px;
}
.expert .block-content__image img {
  max-width: 146px;
  max-height: 100%;
}
.expert .block-content__image:not(:last-child) {
  margin-bottom: 53px;
}
.expert .block-content__subtitle {
  line-height: 125%;
  color: #ff64ae;
}
.expert .block-content__subtitle:not(:last-child) {
  margin-bottom: 15px;
}
.expert .block-content__title:not(:last-child) {
  margin-bottom: 10px;
}
.expert .block-content__txt:not(:last-child) {
  margin-bottom: 50px;
}
.expert .block-content__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.icons-nav__item {
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff;
  font-size: 25px;
}
.icons-nav__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

._icon-face::before,
._icon-insta::before,
._icon-twit::before {
  color: #091156;
}

.contact-us {
  padding: 72px 0px 69px;
}
@media (min-width: 48em) and (max-width: 71.25em) {
  .contact-us {
    padding-top: clamp( 0rem , -9.2903225806rem  +  19.3548387097vw , 4.5rem );
  }
}
@media (max-width: 48em) {
  .contact-us {
    padding-top: 0rem;
  }
}
.contact-us__container {
  position: relative;
}
@media (min-width: 61.99875em) {
  .contact-us__container::before {
    content: "";
    position: absolute;
    top: -20%;
    left: -24%;
    width: 109%;
    height: 100%;
    background: url("../img/firstlist/fonlast.png") 0 0/cover no-repeat;
  }
}
.contact-us__content {
  position: relative;
  z-index: 2;
  display: flex;
}
@media (max-width: 61.99875em) {
  .contact-us__content {
    flex-wrap: wrap;
  }
}

.items-contact-us__item {
  flex: 0 1 50%;
}
@media (max-width: 61.99875em) {
  .items-contact-us__item {
    flex: 0 1 100%;
  }
}
@media (min-width: 61.99875em) {
  .items-contact-us__item_width {
    flex: 0 1 520px;
  }
}
@media (max-width: 61.99875em) {
  .items-contact-us__item_image {
    display: none;
  }
}
.items-contact-us__item_image img {
  max-width: 100%;
}

.contact-us .text-block:not(:last-child) {
  margin-bottom: 44px;
}
.contact-us .text-block__subtitle:not(:last-child) {
  margin-bottom: 12px;
}
.contact-us .text-block__title:not(:last-child) {
  margin-bottom: 12px;
}
.form-contact-us__user-data {
  display: flex;
  column-gap: 35px;
}
@media (max-width: 31.25em) {
  .form-contact-us__user-data {
    row-gap: 10px;
    flex-wrap: wrap;
  }
}
@media (min-width: 62em) {
  .form-contact-us__user-data {
    margin-bottom: 38px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .form-contact-us__user-data:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -5.375rem  +  12.5vw , 2.375rem );
  }
}
@media (max-width: 48em) {
  .form-contact-us__user-data:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 62em) {
  .form-contact-us__email {
    margin-bottom: 38px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .form-contact-us__email:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -5.375rem  +  12.5vw , 2.375rem );
  }
}
@media (max-width: 48em) {
  .form-contact-us__email:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 62em) {
  .form-contact-us__txt {
    margin-bottom: 38px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .form-contact-us__txt:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -5.375rem  +  12.5vw , 2.375rem );
  }
}
@media (max-width: 48em) {
  .form-contact-us__txt:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 62em) {
  .form-contact-us__tarea {
    margin-bottom: 54px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .form-contact-us__tarea:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -8.8035714286rem  +  19.6428571429vw , 3.375rem );
  }
}
@media (max-width: 48em) {
  .form-contact-us__tarea:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.data-user__input {
  flex: 0 1 50%;
}
@media (max-width: 31.25em) {
  .data-user__input {
    flex: 1 1 100%;
  }
}
.data-user__input input {
  min-height: 61.5px;
  padding: 0px 28px;
}

.contact-us input {
  min-height: 61.5px;
  padding: 0px 28px;
  width: 100%;
}
.contact-us input::placeholder {
  color: #c5c5c5;
  transition-duration: 0.2s;
}
.contact-us input:focus::placeholder {
  transform: translate(-100%, 0px);
}

.contact-us textarea {
  width: 100%;
  min-height: 240px;
  padding: 25px 28px;
}
.contact-us textarea::placeholder {
  color: #c5c5c5;
  transition-duration: 0.2s;
}
.contact-us textarea:focus::placeholder {
  transform: translate(-100%, 0px);
}

.page__best-clinick {
  padding: 193px 0px 78px 0px;
}
@media (max-width: 48em) and (min-width: 48em) and (max-width: 62em) {
  .page__best-clinick {
    padding-top: clamp( 8.125rem , -5.375rem  +  28.125vw , 12.0625rem );
  }
}
@media (max-width: 48em) and (max-width: 48em) {
  .page__best-clinick {
    padding-top: 8.125rem;
  }
}

.clinick-best__content {
  display: flex;
  row-gap: 2.5rem;
}
@media (max-width: 61.99875em) {
  .clinick-best__content {
    flex-wrap: wrap;
  }
}
.clinick-best__image {
  flex: 0 1 490px;
}
@media (min-width: 1140px) {
  .clinick-best__image {
    padding: 0px 160px 0px 0px;
  }
}
@media (min-width: 62em) and (max-width: 71.25em) {
  .clinick-best__image {
    padding-right: clamp( 2.5rem , -47.7702702703rem  +  81.0810810811vw , 10rem );
  }
}
@media (max-width: 62em) {
  .clinick-best__image {
    padding-right: 2.5rem;
  }
}
.clinick-best__image img {
  max-width: 100%;
}
.clinick-best__item {
  flex: 0 1 50%;
}
@media (max-width: 61.99875em) {
  .clinick-best__item {
    flex: 1 1 100%;
  }
}
.clinick-best__link {
  margin-top: 2.1875rem;
}

.clinick-best .text-block *:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (min-width: 71.25em) {
  .main-services {
    padding: 78px 0px 100px 0px;
  }
}
@media (min-width: 48em) and (max-width: 71.25em) {
  .main-services {
    padding-top: clamp( 0.625rem , -8.1491935484rem  +  18.2795698925vw , 4.875rem );
  }
}
@media (max-width: 48em) {
  .main-services {
    padding-top: 0.625rem;
  }
}
@media (min-width: 48em) and (max-width: 71.25em) {
  .main-services {
    padding-bottom: clamp( 0.625rem , -10.9879032258rem  +  24.1935483871vw , 6.25rem );
  }
}
@media (max-width: 48em) {
  .main-services {
    padding-bottom: 0.625rem;
  }
}
.main-services__container {
  position: relative;
}
@media (min-width: 62em) {
  .main-services__container::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: -21%;
    left: -10%;
    background: url("../img/secondlist/wavelinese.svg") 0 0 no-repeat;
  }
}
.main-services__row {
  display: flex;
  margin: 0px -33px;
  flex-wrap: wrap;
}
@media (max-width: 48em) {
  .main-services__row {
    row-gap: 0.625rem;
  }
}
@media (min-width: 47.99875em) {
  .main-services__row {
    row-gap: 3.125rem;
  }
}

@media (min-width: 992px) {
  .main-services .text-block:not(:last-child) {
    margin-bottom: 68px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .main-services .text-block:not(:last-child) {
    margin-bottom: clamp( 1.0625rem , -9.8660714286rem  +  22.7678571429vw , 4.25rem );
  }
}
@media (max-width: 48em) {
  .main-services .text-block:not(:last-child) {
    margin-bottom: 1.0625rem;
  }
}
.main-services .text-block *:not(:last-child) {
  margin-bottom: 12px;
}
.row-main-services__item {
  flex: 0 1 33.333%;
  padding: 0px 33px;
}
@media (max-width: 62em) {
  .row-main-services__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 48em) {
  .row-main-services__item {
    flex: 1 1 100%;
  }
}
.row-main-services__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease 0s;
  border: 1px solid transparent;
}
.row-main-services__content:hover {
  border-radius: 50px;
  border: 1px solid #9ba2e0;
}

@media (min-width: 48em) {
  .main-services .block-content {
    padding: 31px 33px 45px 33px;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .main-services .block-content {
    padding-top: clamp( 0.75rem , -3.3214285714rem  +  8.4821428571vw , 1.9375rem );
  }
}
@media (max-width: 48em) {
  .main-services .block-content {
    padding-top: 0.75rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .main-services .block-content {
    padding-bottom: clamp( 0.75rem , -6.3214285714rem  +  14.7321428571vw , 2.8125rem );
  }
}
@media (max-width: 48em) {
  .main-services .block-content {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .main-services .block-content {
    padding-left: clamp( 1.3125rem , -1.2589285714rem  +  5.3571428571vw , 2.0625rem );
  }
}
@media (max-width: 48em) {
  .main-services .block-content {
    padding-left: 1.3125rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .main-services .block-content {
    padding-right: clamp( 1.3125rem , -1.2589285714rem  +  5.3571428571vw , 2.0625rem );
  }
}
@media (max-width: 48em) {
  .main-services .block-content {
    padding-right: 1.3125rem;
  }
}
.main-services .block-content__image {
  flex: 0 1 64px;
  min-width: 64px;
}
.main-services .block-content__image img {
  max-width: 100%;
  max-height: 64px;
}
.main-services .block-content__image:not(:last-child) {
  margin-bottom: 25px;
}
.main-services .block-content__title:not(:last-child) {
  margin-bottom: 10px;
}
.main-services .block-content__txt:not(:last-child) {
  margin-bottom: 18px;
}

.learn-link {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 125%;
  color: #ff64ae;
  transition: all 0.3s ease 0s;
}
@media (max-width: 48em) {
  .learn-link {
    font-size: 1.25rem;
  }
}
.learn-link:hover {
  font-size: 0.96875rem;
}
.learn-link::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 4.5px;
  right: -5px;
  background: url("../img/secondlist/nav.svg") 0 0 no-repeat;
  width: 16px;
  height: 17px;
  transition: all 0.3s ease 0s;
  animation: nav 2s infinite linear;
}
@media (max-width: 48em) {
  .learn-link::after {
    top: 2.5px;
  }
}
@keyframes nav {
  0% {
    right: -3px;
  }
  30% {
    right: 0px;
  }
  60% {
    right: 2px;
  }
  100% {
    right: -4.5px;
  }
}
.learn-link:hover::after {
  transform: translate(0px, 0px) rotate(180deg) scale(1) skew(0, 0);
  right: 1px;
}

.page__chouse-us {
  background: url("../img/secondlist/bgchoouse.png") 100% 0/cover no-repeat;
  margin: 0px 0px 70px 0px;
}
@media (min-width: 71.25em) {
  .page__chouse-us {
    padding: 300px 0px;
  }
}
@media (min-width: 48em) and (max-width: 71.25em) {
  .page__chouse-us {
    padding-top: clamp( 5.3125rem , -22.4294354839rem  +  57.7956989247vw , 18.75rem );
  }
}
@media (max-width: 48em) {
  .page__chouse-us {
    padding-top: 5.3125rem;
  }
}
@media (min-width: 48em) and (max-width: 71.25em) {
  .page__chouse-us {
    padding-bottom: clamp( 5.3125rem , -22.4294354839rem  +  57.7956989247vw , 18.75rem );
  }
}
@media (max-width: 48em) {
  .page__chouse-us {
    padding-bottom: 5.3125rem;
  }
}

.why-chouse-us__flex-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.why-chouse-us__title {
  flex: 0 1 50%;
  max-width: 30.375rem;
  padding-right: 10px;
}
@media (max-width: 62em) {
  .why-chouse-us__title {
    flex: 1 1 100%;
    text-align: center;
    max-width: none;
  }
}
.why-chouse-us__items {
  flex: 0 1 50%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 43px;
  align-items: flex-start;
}
@media (max-width: 62em) {
  .why-chouse-us__items {
    flex: 1 1 100%;
  }
}

.why-chouse-us .text-block__title:not(:last-child) {
  margin-bottom: 12px;
}
.why-chouse-us .text-block__title_color {
  color: #fff;
}
.why-chouse-us .text-block__descr_color {
  color: #d8dcff;
}

.chouse-items__item {
  flex: 0 1 50%;
  display: flex;
  column-gap: 11px;
  justify-content: flex-end;
}
@media (max-width: 25em) {
  .chouse-items__item {
    flex-wrap: wrap;
    text-align: center;
    row-gap: 10px;
  }
}
@media (max-width: 62em) {
  .chouse-items__item {
    justify-content: center;
  }
}
.chouse-items__item:last-child {
  justify-self: flex-end;
}
.chouse-items__image {
  flex: 0 0 64px;
}
.chouse-items__image img {
  max-width: 100%;
  max-height: 64px;
}
.chouse-items__num {
  font-weight: 600;
  font-size: 36px;
  line-height: 125%;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.chouse-items__item:hover .chouse-items__num {
  letter-spacing: 0.1em;
}
.chouse-items__subtitle {
  font-weight: 600;
  line-height: 125%;
  color: #d8dcff;
}
.chouse-items__item:hover .chouse-items__subtitle {
  color: #ff9acb;
}

.latest-news__items {
  display: flex;
  margin: 0px -25px;
  flex-wrap: wrap;
  row-gap: 25px;
}
@media (min-width: 48em) and (max-width: 62em) {
  .latest-news__items {
    margin-left: clamp( 0.3125rem , 6.7410714286rem  +  -13.3928571429vw , -1.5625rem );
  }
}
@media (max-width: 48em) {
  .latest-news__items {
    margin-left: 0.3125rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .latest-news__items {
    margin-right: clamp( 0.3125rem , 6.7410714286rem  +  -13.3928571429vw , -1.5625rem );
  }
}
@media (max-width: 48em) {
  .latest-news__items {
    margin-right: 0.3125rem;
  }
}
@media (min-width: 53.125em) and (max-width: 71.25em) {
  .latest-news__items {
    margin-right: clamp( 0.625rem , -9.4504310345rem  +  18.9655172414vw , 4.0625rem );
  }
}
@media (max-width: 53.125em) {
  .latest-news__items {
    margin-right: 0.625rem;
  }
}
.latest-news__item {
  flex: 0 1 33.333%;
  padding: 0px 25px;
}
@media (min-width: 48em) and (max-width: 62em) {
  .latest-news__item {
    padding-left: clamp( 0.3125rem , -3.9732142857rem  +  8.9285714286vw , 1.5625rem );
  }
}
@media (max-width: 48em) {
  .latest-news__item {
    padding-left: 0.3125rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .latest-news__item {
    padding-right: clamp( 0.3125rem , -3.9732142857rem  +  8.9285714286vw , 1.5625rem );
  }
}
@media (max-width: 48em) {
  .latest-news__item {
    padding-right: 0.3125rem;
  }
}
@media (max-width: 62em) {
  .latest-news__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 48em) {
  .latest-news__item {
    flex: 1 1 100%;
  }
}

.latest-news .text-block {
  text-align: center;
  margin-bottom: 78px;
}
.latest-news .text-block *:not(:last-child) {
  margin-bottom: 12px;
}
.latest-news .block-content {
  background: #fff;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.latest-news .block-content:hover {
  box-shadow: 0px 25px 50px 5px #f6f7ff;
}
.latest-news .block-content__image {
  width: 100%;
  padding: 0px 0px 71.2% 0px;
  position: relative;
  flex: 0 1 auto;
}
@media (max-width: 48em) {
  .latest-news .block-content__image {
    padding: 0px 0px 41% 0px;
  }
}
.latest-news .block-content__image img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 25px;
}
.latest-news .block-content__info {
  padding: 36px 33px 65px 33px;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
@media (min-width: 53.125em) and (max-width: 71.25em) {
  .latest-news .block-content__info {
    padding-top: clamp( 0.9375rem , -2.9094827586rem  +  7.2413793103vw , 2.25rem );
  }
}
@media (max-width: 53.125em) {
  .latest-news .block-content__info {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 48em) and (max-width: 62em) {
  .latest-news .block-content__info {
    padding-bottom: clamp( 0.9375rem , -2.9196428571rem  +  8.0357142857vw , 2.0625rem );
  }
}
@media (max-width: 48em) {
  .latest-news .block-content__info {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 53.125em) and (max-width: 71.25em) {
  .latest-news .block-content__info {
    padding-left: clamp( 0.9375rem , -2.3599137931rem  +  6.2068965517vw , 2.0625rem );
  }
}
@media (max-width: 53.125em) {
  .latest-news .block-content__info {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 53.125em) and (max-width: 71.25em) {
  .latest-news .block-content__info {
    padding-right: clamp( 0.9375rem , -8.2219827586rem  +  17.2413793103vw , 4.0625rem );
  }
}
@media (max-width: 53.125em) {
  .latest-news .block-content__info {
    padding-right: 0.9375rem;
  }
}
.latest-news .block-content__title:not(:last-child) {
  margin-bottom: 7px;
}
@media (max-width: 48em) {
  .latest-news .block-content__title:not(:last-child) {
    margin-bottom: 32px;
  }
}
.latest-news .block-content__txt {
  flex: 1 1 auto;
}
.latest-news .block-content__txt:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 48em) {
  .latest-news .block-content__txt:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 48em) {
  .latest-news .block-content__link-learn {
    font-size: 1.25rem;
    position: relative;
    top: 3px;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
